.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  background-color: #492748;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #f2f2f2;
  padding-left: 10px;
  margin: 0;
}

.navLink {
  display: inline-block;
  color: #f2f2f2;
  background-color: #492748;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #753d73;
}

.currentUrl {
  background-color: #753d73;
}

/* Icons */
.nav-icon {
  height: 30px;
  width: 25px;
  fill: #fff;
}

.app-icon {
  height: 35px;
  width: 100px;
  padding: 5px 3px 5px 5px
}